{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <form method="post" enctype="multipart/form-data" class="card-body text-center">
                {% csrf_token %}
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <div class="w-50 p-3">
                        {% if user.profile_image %}
                            <img src="{{ user.profile_image.url }}" alt="profile image"
                                 class="img-fluid rounded-circle">
                        {% else %}
                            <img src="{% static 'assets/images/user/avatar-1.jpg' %}" alt="profile image"
                                 class="img-fluid rounded-circle">
                        {% endif %}
                    </div>
                </div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <span class="text-danger d-block my-3">{{ error }}</span>
                    {% endfor %}
                {% endif %}
                {% for field in form %}
                    <div class="form-group mb-3">
                        {{ field }}
                    </div>
                {% endfor %}
                <a class="btn btn-secondary shadow-2 mb-4" href="{% url 'update_password' %}">Update Password</a>
                <button class="btn btn-primary shadow-2 mb-4" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
